name: r2u

on:
  #push:
  #pull_request:
  #release:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: rocker/r2u:latest
    steps:
      - uses: actions/checkout@v5

      - name: SessionInfo
        shell: Rscript {0}
        run: sessionInfo()

      #- name: System Dependencies
      #  # can be used to install e.g. cmake or other build dependencies
      #  run: apt update -qq && apt install --yes --no-install-recommends cmake git

      - name: Package Dependencies
        shell: Rscript {0}
        run: remotes::install_deps(".", dependencies=TRUE)

      - name: Build Package
        run: R CMD build --no-build-vignettes --no-manual .

      - name: Check Package
        run: R CMD check --no-vignettes --no-manual $(ls -1tr *.tar.gz | tail -1)
